<nav style="text-align:center" class=" bg-dark">
  <h1>
   Routing and Template
  </h1>
    <ul class="nav nav-tabs justify-content-center navbar navbar-light ">
      <li class="nav-item">
        <a class="nav-link " routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled " routerLink="/anyRouting">Not Found</a>
      </li>
  
    </ul>

  </nav>